
    <div class="container-fluid">
        <div class="row" >
            <div class=" col-lg-6 col-md-6">
                
                <div class="container">
                    <div class="row">
                        <div class="col"><img src="~/img/bbbb.jpg" style="width:300px" /></div>
                        <div class="col"></div>
                        <div class="w-100"></div>
                        <div class="col"></div>
                        <div class="col"><img src="~/img/bb5.jpg" style="width:300px" /></div>
                    </div>
                </div>

            </div>
            <div class=" col-lg-6 col-md-6 " ">
                <div class="container">
                    <h4 style=" text-decoration:underline; text-decoration-color:cyan">Pediatria</h4>
                    <br />
                    <h1>
                        Consultas infantiles<br>
                    </h1>
                    <p style="padding:10px; top:260px; font-size:22px; color:dimgrey">
                        Brindamos atencion a pacientes desde los 2 meses hasta los 18 años de edad.
                        Una de las principales causas que ocasiona el bajo rendimiento escolar es debido a problemas visiales.
                    </p>
                    
                        <ul style=" left:100px; list-style-image:url(/img/verrr.png ); font-size:20px">
                            <li>  Miopia. </li>
                            <li> Astigmatismo.</li>
                            <li>  Hipermetropia. </li>
                        </ul>
                   
                </div>
            </div>
        </div>
    </div>

   