@{
    ViewBag.Title = "Contact";
}
    <div class="welcome_docmed_area" id="geriatria">
        <div class="container">
            <div class="row">
                

                <div class=" col-lg-6 col-md-6">

                    <div class="container">
                        <div class="container animated fadeInDown" >
                            <img src="~/img/abue1.jpg" style="width:280px" />
                        </div>
                    </div>

                </div>




                <div class=" col-lg-6 col-md-6 ">
                    <div class="container">
                        <h4 style=" text-decoration:underline; text-decoration-color:cyan">Geriatria</h4>
                        <br />
                        <h1>
                            Consultas a pacientes mayores de 60 años<br>
                        </h1>
                        <p style="padding:10px; top:260px; font-size:22px; color:dimgrey">

                            La geriatría es una especialidad médica dedicada al estudio de la prevención, el diagnóstico, el tratamiento y la rehabilitación de las enfermedades en las personas de la tercera edad.
                        </p>

                        <ul style=" left:100px; list-style-image:url(/img/verrr.png ); font-size:20px">
                            <li>  Catarata. </li>
                            <li> Degeneración macular relacionada con la edad..</li>
                            <li>  DMRE. </li>
                        </ul>

                    </div>

                </div>
            </div>
    </div>