@{
    ViewBag.Title = "Home Page";
}





<div class=" col-xl-12 container animated fadeInDown col"  style="height:500px; width:100%; background-image:url(/img/banner.png) ">
    <div class="slider_text animated fadeInUp" style="font-family: Poppins, sans-serif; font-size: 70px; text-transform: capitalize;letter-spacing: 2px; font-weight: 300">
       
        <div class=" row justify-content-center ">
            <div class="col-xl-12">

                <h1 style="color:white; ">
                    <br />
                    <br />
                    <span style="font-size:50px ">Si cambias tu forma</span> <br>
                    de ver las cosas
                </h1>
                <p style="color: white; font-size: 20px;">veras que las cosas cambian.</p>
            </div>
           
        </div>

    </div>
</div>




<div class="row">
    

        <div class="col-xl-4 col-md-4"  style="background:rgb(64, 149, 241)">
            <div style="padding:70px">
               
                <img src="~/img/opp.png" />
                <h3>Prevención</h3>
                <p>
                    En muchos casos no conocemos realmente que es lo que  afecta nuestra visión,
                    algunos de los ejemplos son el uso excesivo de computadora, gafas de sol solo en el verano,
                    los rayos UV no toman vacaiones he ir con ul licenciado en optometria solo cuando hay problemas.
                </p>

            </div>
        </div>



   
        <div class="col-xl-4 col-md-4" style="background:rgb(0, 123, 255)">
            <div style="padding:70px">
                
                <img src="~/img/oppp.png" />
                <h3>¿Cuando ir al especialista?</h3>
                <p>Deberiamos acudir con un licenciado en optometria por lo menos una vez al año, para descartar o detectar poblemas visuales a tiempo y con esto darle seguimiento a cualquier ametropia de manera oportuna. La salud visual no es solo "ver bien".  </p>

            </div>
        </div>


        <div class="col-xl-4 col-md-4" style="background:rgb(64, 149, 241)">
            <div style="padding:70px">
                <img src="~/img/opppp.png" />
                <h3>Ir al Consultorio Visual</h3>
                <p>El licenciado en optometria realizara una consulta visial completa, mediante una exploracion de tu vista con herramientas que ayudaran a diagnosticar alguna patologia, ametropia o problemas de vision binocular. </p>

            </div>
        </div>

</div>

