
@{
    ViewBag.Title = "Ofertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="background:rgb(238, 253, 254)">
    <div class="container">
        <div class="row" style="padding-top:20px; padding-bottom:20px">
            <div class="col-xl-12 " >

                <div class="section_title text-center mb-55">
                    
                    <h2 style=" text-decoration:underline; text-decoration-color:cyan">Nuestras Ofertas</h2>
                    <br />
                    <p style="padding:10px; top:260px; font-size:22px; color:dimgrey">
                        Aqui podras conseguir las mejores ofertas. <br>
                        Con productos perfectos para tus necesidades.
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style=" padding-bottom:35px">
            <div class="col-xl-4 col-md-6 col-lg-4 " >
                <div>
                    <div class="card animated fadeInDown " style="animation-delay: 0.3s; width: 23rem; padding-bottom:22px; box-shadow: 5px 5px 9px 2px  ;">
                        <img class="card-img-top" src="~/img/lente7.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3><a>Lentes solares</a></h3>
                            <p>Para esos días soleados y andar con estilo  <br>Llevatelos desde $150.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div>

                    <div class="card animated fadeInDown" style="animation-delay: 0.6s;width: 23rem; box-shadow: 5px 5px 9px 2px  ;">
                        <img class="card-img-top" src="~/img/lente5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3><a>Lentes Tony Morgan</a></h3>
                            <p>Armazon + Mica con tratamiento antirreflejante <br> Llevatelos desde $1,300.00</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div>

                    <div class="card animated fadeInDown" style="animation-delay: 0.9s;width: 23rem;box-shadow: 5px 5px 9px 2px  ;">
                        <img class="card-img-top" src="~/img/lente6.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3><a>Lentes Gianpaul</a></h3>
                            <p>Armazon + Mica con tratamiento antirreflejante <br> Llevatelos desde $1,350.00</p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    
    <div style="background:rgb(238, 253, 254)">
        <div class="container">

            
            <div class="row" style=" padding-bottom:35px">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div>

                        <div class="card animated fadeInDown" style="animation-delay: 0.12s;width: 23rem; box-shadow: 5px 5px 9px 2px  ; ">
                            <img class="card-img-top" src="~/img/lente4.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3><a>Lente economico</a></h3>
                                <p>Armazon + micas con tratamiento antirreflejante <br>Llevatelos desde $850.00</p>
                            </div>
                        </div>




                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div>

                        <div class="card animated fadeInDown" style="animation-delay: 0.15s;width: 23rem; box-shadow: 5px 5px 9px 2px  ;">
                            <img class="card-img-top" src="~/img/lente9.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3><a>Lente de contacto</a></h3>
                                <p>Air Optix caja con 6 lentes de remplazo mensual. <br>Llevatela desde $1,200.00</p>

                            </div>
                        </div>


                        
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div>


                        <div class="card animated fadeInDown" style="animation-delay: 0.16s;width: 23rem; box-shadow: 5px 5px 9px 2px  ;">
                            <img class="card-img-top" src="~/img/lente10.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3><a>Lente de contacto</a></h3>
                                <p>O2 optix caja con 6 lentes de remplazo mensual. <br>Llevatela desde $800.00</p>

                            </div>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>